<div id="product" style="background-color: rgb(255, 248, 225);" class="page-layout carded fullwidth inner-scroll"
     xmlns="http://www.w3.org/1999/html">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent header-bul"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent title-header" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/boards'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                >
                    <div class="h2">
                        <a [href]="this.application?.urlGitlab" class="link-class" target="_blank">
                            {{this.application?.nameApplication}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content" style="background: rgb(245, 245, 245)">

                <div class="loading" *ngIf="!this.projects">
                    <div class="loader"></div>
                </div>

                <form name="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group (selectedTabChange)="tabChanged($event)">
                        <mat-tab label="{{project.name}}" *ngFor="let project of this.projects"
                                 style="font-family: 'Agency FB Bold', arial !important;">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="row">
                                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                                        <mat-label>From</mat-label>
                                        <input matInput [(ngModel)]="startDate" name="startDate"
                                               [matDatepicker]="startDatePicker"
                                               (dateInput)="addEventStart('input', $event)">
                                        <mat-datepicker-toggle matSuffix
                                                               [for]="startDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                                        <mat-label>To</mat-label>
                                        <input [(ngModel)]="endDate" name="endDate" matInput
                                               [matDatepicker]="dueDatePicker" placeholder="End Date"
                                               (dateInput)="addEventEnd('input', $event)">
                                        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker edi #dueDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="loading" *ngIf="!this.commitsPerProjectAndBranch || !this.statistics">
                                    <div class="loader"></div>
                                </div>


                                <canvas id="chart1">

                                </canvas>


                                <canvas id="chart2">

                                </canvas>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
